* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    background: hsl(47, 88%, 63%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    padding: 20px;
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 8px 8px 0px black;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card__image {
    width: 100%;
    border-radius: 12px;
}

.card__category {
    background: hsl(47, 88%, 63%);
    padding: 5px 12px;
    width: fit-content;
    border-radius: 5px;
    font-weight: 800;
}

.card__date {
    color: hsl(0, 0%, 30%);
    font-size: 14px;
}

.card__title {
    font-size: 22px;
    font-weight: 800;
}

.card__text {
    color: hsl(0, 0%, 40%);
    line-height: 1.4;
}

.card__author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card__author-img {
    width: 35px;
}
